body {
  &[theme="light"] {
    background-color: $bodyLightBg;
  }

  &[theme="dark"] {
    background-color: $bodyDarkBg;
  }

  #app {
    .sidebar-container {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: $sideBarWidth;
      height: 100%;
      overflow: hidden;
      transition: width 0.28s;

      a {
        text-decoration: none;
      }
    }

    .main-container {
      position: relative;
      min-height: 100%;
      margin-left: $sideBarWidth;
      transition: margin-left 0.28s;
      -webkit-transition: margin-left 0.28s;

      .app-container {
        padding: 1.5rem;
      }
    }

    .hideSidebar {
      .sidebar-container {
        width: $hideSideBarWidth;
      }

      .main-container {
        margin-left: $hideSideBarWidth;
      }
    }

    // mobile responsive
    .mobile {
      .sidebar-container {
        transition: transform 0.28s;
        width: $sideBarWidth;
      }

      &.hideSidebar {
        .sidebar-container {
          pointer-events: none;
          transition-duration: 0.3s;
          transform: translate3d(-$sideBarWidth, 0, 0);
        }
      }

      .main-container {
        margin-left: 0px;
      }
    }

    .withoutAnimation {
      .sidebar-container,
      .main-container {
        transition: none;
      }
    }
  }
}
