// https://juejin.cn/post/6844904141983072264

@import "./_themes.scss";

// 遍历主题 map
@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    // !global 把局部变量强升为全局变量
    $theme-map: $theme-map !global;
    // 判断 html 的 data-theme 的属性值
    // #{} - sass 的插值表达式
    // & - sass 嵌套里的父容器标识
    // @content - 混合器插槽，像 vue 的 slot
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

// 声明一个根据 Key 获取颜色的 function
@function themed($key) {
  @return map-get($theme-map, $key);
}

// 获取背景颜色
@mixin background_color($color) {
  @include themeify {
    background-color: themed($color);
  }
}

// 获取字体颜色
@mixin color($color) {
  @include themeify {
    color: themed($color);
  }
}

// 获取边框颜色
@mixin border_color($color) {
  @include themeify {
    border-color: themed($color);
  }
}
