// sidebar
$menuBg: #304156;
$menuHoverBg: #263445;
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$sideBarWidth: 12rem;
$hideSideBarWidth: 3.5rem;

// settings
$settingsWidth: 16rem;
$settingsBg: #ffffff;
$handleButtonTop: 15rem;
$handleButtonWidth: 3rem;
$handleButtonBg: #409eff;
$handleButtonText: #ffffff;

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuBg: $menuBg;
  menuHoverBg: $menuHoverBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  hideSideBarWidth: $hideSideBarWidth;

  settingsWidth: $settingsWidth;
  settingsBg: $settingsBg;
  handleButtonTop: $handleButtonTop;
  handleButtonWidth: $handleButtonWidth;
  handleButtonBg: $handleButtonBg;
  handleButtonText: $handleButtonText;
}
