$menuBg: #304156;
$menuHover: #263445;
$menuText: #bfcbd9;
$menuActiveText: #409eff;

$sideBarWidth: 12rem;
$hideSideBarWidth: 4rem;

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  sideBarWidth: $sideBarWidth;
  hideSideBarWidth: $hideSideBarWidth;
}
